// basic
$mainColor: #9DE997;
$subColor: #e2f8e0;
$bgColor: #fcfff8;

// font
$fontColor: #6c6c6c;
$fontColor-sub: #a7a7a7;

// border
$borderColor-default: #ccc;
$borderColor-todoList: $subColor;

// error
$errorColor: #f88b9b;